.header-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-logo {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-image {
  width: 100px;
  object-fit: cover;
}
.header-text {
  color: #2EC5CE;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
}
.header-text2 {
  text-align: center;
  text-transform: lowercase;
}
.header-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-text3 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.header-text3:hover {
  color: var(--dl-color-turquoise-default);
}
.header-text4 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.header-text4:hover {
  color: var(--dl-color-turquoise-default);
}
.header-text5 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.header-text5:hover {
  color: var(--dl-color-turquoise-default);
}
.header-text6 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.header-text6:hover {
  color: var(--dl-color-turquoise-default);
}
.header-text7 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.header-text7:hover {
  color: var(--dl-color-turquoise-default);
}
.header-text8 {
  transition: 0.3s;
}
.header-text8:hover {
  color: var(--dl-color-turquoise-default);
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .header-text {
    text-align: center;
  }
}
@media(max-width: 991px) {
  .header-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .header-text {
    text-align: center;
  }
  .header-menu {
    display: none;
  }
  .header-burger-menu {
    display: block;
  }
}
@media(max-width: 479px) {
  .header-text {
    text-align: center;
  }
}
